body {
  font: 38px Brush Script MT, cursive;
  margin-top: 75px;
  margin-left: 450px;
}

ol, ul {
  padding-left: 60px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}


.square {
  background: peru;
  border: 5px solid black;
  float: left;
  font: 180px Lucida;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 200px;
}

.winner {
  background: yellow;
  border: 10px solid cyan;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.sort{
  float: left;
}

.game-info {
  margin-left: 20px;
}
