body {
  font: 38px Brush Script MT, cursive;
  color: white;
  text-shadow: 0px 0px 50px black;
  margin-top: 75px;
  margin-left: 450px;
  white-space: nowrap;
  background-image: url('desert.jpeg');
}

ol, ul {
  padding-left: 35px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: peru;
  border: 5px solid black;
  float: left;
  font: 180px Lucida;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 200px;
}

.winner {
  background: yellow;
  border: 10px solid cyan;
  color: black;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.sort{
  position: absolute;
  top: 320px;
  left: 175px;
  font-size: 40px;
}

.up-icon{
  position: absolute;
  top:0px;
  left: 95px;
  color: #5bc0de;
}

.down-icon{
  position: absolute;
  top: 40px;
  left:95px;
  color: #5bc0de;
}

.turns{
  color: white;
}

.turns:hover{
  color: #5bc0de;
}

.game-info {
  margin-left: 20px;
}
